<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ cookiecutter.title | default('')}}</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

{% if cookiecutter.title %}
    <meta property="og:title" content="{{ cookiecutter.title }}" />
{% endif %}
{% if cookiecutter.summary %}
    <meta property="og:description" content="{{ cookiecutter.summary }}" />
{% endif %}
{% if cookiecutter.icon %}
    <meta property="og:image" content="{{ cookiecutter.icon }}" />
{% endif %}

    <!-- reveal.js CSS theme and local overrides -->
    <link rel="stylesheet" href="reveal.js/css/reveal.css"/>
{% if cookiecutter.theme %}
    <link rel="stylesheet" href="reveal.js/css/theme/{{ cookiecutter.theme }}.css" id="theme"/>
{% endif %}
    <link rel="stylesheet" href="{{ cookiecutter.css_path }}/reveal-override.css"/>

{% if highlight is defined %}
    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="highlight.js/src/styles/{{ cookiecutter.highlight }}.css" />
{% endif %}

    <!-- For JavaScript-generated QR codes -->
    <link rel="stylesheet" href="{{ cookiecutter.css_path }}/qrcode.css" />

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
<![CDATA[
document.write( '<link rel="stylesheet" href="reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
]]>
    </script>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
	<!-- Repeat these as often as needed -->
        <section id="intro"
                 data-markdown="{{ cookiecutter.markdown_path }}/00-intro.md"
                 data-separator="{{ cookiecutter.markdown_separator }}"
                 data-separator-vertical="{{ cookiecutter.markdown_vertical_separator }}"
                 data-separator-notes="{{ cookiecutter.markdown_notes_separator }}">
	</section>
      </div>
    </div>
    <script src="qrcodejs/qrcode.js"></script>
    <script>
/* Grab all links and iterate over them */
document.querySelectorAll('a[href]').forEach(function(a) {
  /* Find an element named #qrcode-id, and render the QR code there */
  document.querySelectorAll('#qrcode-' + a.id).forEach(function(target) {
    var qr = new QRCode(target, {
        width : 500,
        height : 500,
        colorDark : "#000000",
        colorLight : "rgba(255,255,255,0)",
    });
    qr.makeCode(a.href);
  });
});
    </script>

    <script src="reveal.js/lib/js/head.min.js"></script>
    <script src="reveal.js/js/reveal.js"></script>
    <script src="reveal-config.js"></script>
  </body>
</html>
